body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar_container{
  width: 100%;
  background-color: #004080;
  color: #fff;
}
 .nav_style{
  font-size: 40px;
  line-height: 19px !important;
  color:rgb(88, 88, 248);
}

.table_styling{
  padding:0;
  border:2px solid #dee2e6;
  border-radius:6px;
  padding-left:0px !important;
  padding-right:0px !important;
}

.input_styling{
  display: flex;
  width:40%;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(247, 245, 254);
    border-radius:10px;
}
.input_styling input{
  border: none;
    outline-width: 0;
    padding: 0 ;
    margin: 0 ;
    background-color: rgb(247, 245, 254);
}
.input_styling i{
  font-size: large;
    margin-left: 10px;
   
  }

 

  .list_styling{
    background-color:lightpink;
    width:73%;
    border-radius: 17px;
    padding: 2px;
  }

  .view_styling{
    background-color:rgb(77, 40, 145) !important;
    color:white !important;
    width:70px;
  }
  .btntextchange{
    border:none;
    border-radius:5px;
    padding:4px ;
  }
  table td{
    vertical-align:middle!important;
  }
  .pagination_styling{
    background-color:#e9ecef;
    padding:4px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }